@model IEnumerable<SideTechProd2.Models.Funcionario>

@{
    ViewData["Title"] = "Index";
}

<h1>Gerenciar funcionários</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataDeAdmissao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empresa)
            </th>
            <th>
                <a asp-action="Create" class="btn btn-outline-success"><i class="far fa-plus-square"></i> Novo Funcionário</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cpf)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Matricula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataDeAdmissao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Empresa.Cnpj)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdFuncionario"><i class="fa fa-marker fa-lg"></i> Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdFuncionario"><i class="fa fa-id-card-o fa-lg" aria-hidden="true"></i> Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdFuncionario" class="text-danger" ml-1><i class="fa fa-trash-alt fa-lg"></i> Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("Voltar", "Index", "Home")